.site-content
  $preBg = #f8f8f8
  $preBd = darken($preBg, 3%)

  font-family: $sansface
  font-size: 22px
  line-height: 1.6

  > div > *:first-child,
  .bs-docs-section:first-child > *:first-child
    padding-top: 0
    margin-top: 0

  .bs-docs-section:last-child > *:last-child
    padidng-bottom: 0
    margin-bottom: 0

  > div,
  > div > .bs-docs-section,
  > div .bs-callout
    > h1
      font-family $boldface
      letter-spacing -0.02em
      font-weight 500
      font-style normal
      font-size 60px
      margin-left -3px
      line-height 1
      letter-spacing -0.02em
      padding: 40px 0
      margin-bottom 40px
      border-bottom: 1px solid $preBd
      color rgba(0,0,0,0.8)
      text-align: center

    > h2
      font-size: 36px

    > h2, > h3, > h4, > h5, > h6
      font-family $boldface
      font-weight 700
      margin-top: 40px
      margin-left -1.8px
      line-height 1.2
      color rgba(0,0,0,0.8)

    > h3, > h5, > h6
      font-size: 32px
      font-weight 300
      color: rgba(0,0,0,0.44)

    > h4
      color: rgba(0,0,0,0.44)

    > p
      display block
      -webkit-margin-before 1em
      -webkit-margin-after 1em
      -webkit-margin-start 0px
      -webkit-margin-end 0px

    > ul
      margin-top: 29px
      padding-left: 0

      ul
        margin-top: 0
        padding-left: 20px

  .bs-example
    font-family: $boldface
    border-color: $preBd
    font-size: 16px
    line-height: 1.42857143

    + p
      display: none

    ul
      > &
        list-style-type: disc
        margin-left: 40px

  .highlight
    background: $preBg
    border-color: $preBd

  blockquote
    letter-spacing: .01rem
    border-left: 3px solid rgba(0,0,0,0.8)
    padding: 5px 0
    padding-left: 20px
    margin-left: -23px
    font-size: 19px

    > *
      margin-top: 0
      opacity: .8

  pre
    line-height: 1.45
    padding: 16px
    color: $grayDarker

  code
    background: $preBg
    color: inherit
    white-space: pre-wrap

  .highlight code, pre code
  h2 code, h3 code
    background: none

  .table-bordered,
  .table-bordered>tbody>tr>td,
  .table-bordered>tbody>tr>th,
  .table-bordered>tfoot>tr>td,
  .table-bordered>tfoot>tr>th,
  .table-bordered>thead>tr>td,
  .table-bordered>thead>tr>th
    border: 1px solid $preBd

  .bs-callout
    border-left-color: #eee !important

  .media-object
    min-width: 64px

  .show-grid
    margin-left: 0
    margin-right: 0

  [id*="tb-styles"] a
    display: none

.modal
  font-family: $boldface
