// Global Variables
// Font faces
$boldface = BerninoSansOffc, Bernono Sans, Jaf Bernino Sans, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif
$sansface = FreightText Pro, Georgia, Cambria, Times New Roman, Times, Songti SC, STHeiti, serif

// Colors
$darkWhite = alpha(#ffffff, 87%)

// TB-Colors
@require 'tb-colors/dist/colors'

// Pygment
@require 'pygment'

// Bootstrap Docs
@require 'bs-docs'

// Content & Type
@require 'content'

// $blue = darken($blue, 20%)

// Global & Layout
html,
body
  width: 100%
  height: 100%

body
  font-size: 16px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  color: $blue

  &:hover
    color: lighten($blue, 12%)

.site-main
  $spacing = 32px

  display: flex
  flex-direction: row
  height: 100vh

  .site-sidebar
    flex: 1
    padding: $spacing
    overflow-y: scroll
    background: $blue
    font-family: $boldface

    &, a
      color: $darkWhite
      font-weight: 300

    ul
      margin-bottom: 0

    > ul
      padding-left: 0
      list-style: initial
      border-radius: 10px
      border: 1px solid $darkWhite
      background: alpha($black, 5%)

      > li
        list-style-type: dotted

        > a
          background: alpha($black, 5%)

        &:first-child a
          border-top-right-radius: 8px
          border-top-left-radius: 8px

        &:last-child
          ul li:last-child a
            padding-bottom: 9px
            border-bottom-right-radius: 8px
            border-bottom-left-radius: 8px

        + li
          border-top: 1px solid $darkWhite

      + ul
        margin-top: $spacing

    a
      display: block
      padding: 10px 15px
      transition: all 218ms

      .icon
        float: right

        &.icon-dashed-right
          font-weight: bold

      &:hover
      &:focus
        color: $white
        background: alpha($white, 15%)

    .nav
      border-top: 1px solid $white

      li
        list-style-type: circle

      a
        font-size: 14px
        padding: 7px 15px
        color: alpha($white, 60%)

        &:hover
          color: $white

      .line
        position: relative
        display: block
        font-size: .7em
        padding: 4px 0
        padding-left: 15px

        &:after
          content: ''
          position: absolute
          left: 0
          top: 12px
          width: 100%
          height: 0
          border-top: dotted 1px $darkWhite

        span
          position: relative
          z-index: 2
          display: inline-block
          background: #03a1e9
          color: alpha($white, 60%)
          padding: 0 4px

    .is-active
    .active
      > a
        color: $blue !important
        background: $darkWhite

      .nav > li > a
        color: $darkWhite

        &:hover
          color: $white

  .site-content
    flex: 3
    position: relative
    height: 100%
    padding: $spacing*2.1 $spacing*4 $spacing*3
    overflow-y: scroll
    display: inline-block

    > div
      max-width: 840px
      margin: 0 auto
