html
  head
    title #{title} - TB-Styles Documentations
    include /head.jade
  body
    .site-main.clearfix
      include /sidebar.jade
      .site-content
        .clearfix!=content
    script(src='/scripts/build.js')
