.site-sidebar
  ul
    li(class={'is-active': title === 'Introduction'})
      a(href="/") Introduction
        span.icon.icon-t
    li
      a(href="https://github.com/teambition/standard/blob/master/css-style-guide.md", target="_blank") CSS Style Guide
        span.icon.icon-dashed-right
    li
      a(href="https://github.com/teambition/TB-Styles", target="_blank") GitHub
        span.icon.icon-github

  ul
    li(class={'is-active': title === 'Variables'})
      a(href="/variables") Variables
    li(class={'is-active': title === 'Utils'})
      a(href="/utils") Utils
    li(class={'is-active': title === 'Bases'})
      a(href="/bases") Bases
      ul.nav
        li
          a(href="/bases/#scaffolding", data-target="#scaffolding") - Scaffolding
        li
          a(href="/bases/#grid", data-target="#grid") - Grid
        li
          a(href="/bases/#type", data-target="#type") - Type
    li(class={'is-active': title === 'Effects'})
      a(href="/effects") Effects
    li(class={'is-active': title === 'Generics'})
      a(href="/generics") Generics
      ul.nav
        li
          a(href="/generics/#alerts", data-target="#alerts") - Alerts
        li
          a(href="/generics/#badges", data-target="#badges") - Badges
        li
          a(href="/generics/#breadcrumbs", data-target="#breadcrumbs") - Breadcrumbs
        li
          a(href="/generics/#buttons", data-target="#buttons") - Buttons
        li
          a(href="/generics/#button-groups", data-target="#button-groups") - Button Groups
        li
          a(href="/generics/#close", data-target="#close") - Close
        li
          a(href="/generics/#code", data-target="#code") - Code
        li
          a(href="/generics/#dropdowns", data-target="#dropdowns") - Dropdowns
        li
          a(href="/generics/#forms", data-target="#forms") - Forms
        li
          a(href="/generics/#icons", data-target="#icons") - Icons
            span.icon.icon-spread
        li
          a(href="/generics/#images", data-target="#images") - Images
        li
          a(href="/generics/#jumbotron", data-target="#jumbotron") - Jumbotron
        li
          a(href="/generics/#input-groups", data-target="#input-groups") - Input Groups
        li
          a(href="/generics/#labels", data-target="#labels") - Labels
        li
          a(href="/generics/#list-group", data-target="#list-group") - List Group
        li
          a(href="/generics/#media", data-target="#media") - Media
        li
          a(href="/generics/#navbar", data-target="#navbar") - Navbar
        li
          a(href="/generics/#navs", data-target="#navs") - Navs
        li
          a(href="/generics/#pager", data-target="#pager") - Pager
        li
          a(href="/generics/#pagination", data-target="#pagination") - Pagination
        li
          a(href="/generics/#panels", data-target="#panels") - Panels
        li
          a(href="/generics/#progress-bars", data-target="#progress-bars") - Progress Bars
        li
          a(href="/generics/#responsive-embed", data-target="#responsive-embed") - Rsesponsive Embed
        li
          a(href="/generics/#tables", data-target="#tables") - Tables
        li
          a(href="/generics/#thumbnails", data-target="#thumbnails") - Thumbnails
        li
          a(href="/generics/#wells", data-target="#wells") - Wells
    li(class={'is-active': title === 'Themes'})
      a(href="/themes") Themes
    li(class={'is-active': title === 'UIs'})
      a(href="/uis") UIs
      ul.nav
        li
          a(href="/uis/#overview", data-target="#overview") - Overview
        span.line
          span With CSS
        li
          a(href="/uis/#js-alerts", data-target="#js-alerts") - Alert
        li
          a(href="/uis/#js-buttons", data-target="#js-buttons") - Buttons
        li
          a(href="/uis/#carousel", data-target="#carousel") - Carousel
        li
          a(href="/uis/#js-dropdowns", data-target="#js-dropdowns") - Dropdowns
        li
          a(href="/uis/#modals", data-target="#modals") - Modals
        li
          a(href="/uis/#popovers", data-target="#popovers") - Popovers
        li
          a(href="/uis/#tabs", data-target="#tabs") - Tabs
        li
          a(href="/uis/#tooltips", data-target="#tooltips") - Tooltips
        span.line
          span Without CSS
        li
          a(href="/uis/#affix", data-target="#affix") - Affix
        li
          a(href="/uis/#collapse", data-target="#collapse") - Collapse
        li
          a(href="/uis/#scrollspy", data-target="#scrollspy") - ScrollSpy
        li
          a(href="/uis/#transitions", data-target="#transitions") - Transitions
